@import url('https://fonts.googleapis.com/css?family=Playfair+Display|Roboto');
*{box-sizing: border-box;}
body{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  margin: 0;
  background: yellow;
}
.category-wrap {
  padding: 15px;
  background: black;
  width: 200px;
  box-shadow: 2px 2px 8px rgba(0,0,0,.1);
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.category-wrap h3 {
  font-size: 16px;
  color:green;
  background:black;
  margin: 0 0 10px;
  padding: 0 5px;
  position: relative;
}
.category-wrap h3:after {
  content: "";
  width: 6px;
  height: 6px;
  background: #80C8A0;
  position: absolute;
  right: 5px;
  bottom: 2px;
  box-shadow: -8px -8px #80C8A0, 0 -8px #80C8A0, -8px 0 #80C8A0;
}
.category-wrap ul {
  list-style: none;
  margin: 0;
  padding: 0; 
  border-top: 1px solid green;
}
.category-wrap li {margin: 12px 0 0 0px;}
.category-wrap a {
  text-decoration: none;
  display: block;  
  font-size: 13px;
  color:yellow;
  padding: 5px;
  position: relative;
  transition: .3s linear;
}
.category-wrap a:after {
  content:"\f18e";
  font-family: FontAwesome;
  position: absolute;
  right: 5px;
  color: red;
  transition: .2s linear;
}
.category-wrap a:hover {
  background: green;
  color: red;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {text-decoration: none;}
.top-menu {
  background: white;
  position: relative;
}
.top-menu:after, 
.submenu:after {
  content: "";
  display: table;
  clear: both;
}
.top-menu > li {
  display: inline-block;
  float: left;
}
.top-menu > li > a {
  display: block;
  padding: 18px;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #000;
  transition: .2s linear;
}
.top-menu > li > a:hover {color: #B03062;}
.dropdown:after {
  content: "\f107";
  font-family: FontAwesome;
  margin-left: 4px;
  vertical-align: top;
}
.submenu, 
.submenu-standart {
  border-top: 1px solid #e5e5e5;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.07);
  background: white;
  padding: 25px 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 5;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0,30px,0);
  transition: .5s ease-out;
  transform-origin: 0% 0%;
}
.submenu {width: 100%;}
.submenu-standart {
  min-width: 200px;
  padding: 10px 0;
}
.dropdown-standart {position: relative;}
.top-menu > li:hover .submenu, 
.top-menu > li:hover .submenu-standart {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0,0,0);
}
.submenu > li {
  float: left;
  width: calc(100% / 3);
  padding: 0 18px;
  border-right: 1px solid #e5e5e5;
}
.submenu-standart li {padding: 0 18px;}
.submenu > li:last-child {border-right: none;}
.submenu img {
  display: block;
  width: 100%;
}
.submenu li a, 
.submenu-standart li a {
  display: block;
  padding: 5px 0;
  color: #666;
  font-size: 13px;
}
.submenu li .link-image {padding: 0;}
.submenu li a:hover {color: #B03062;}
.submenu h3 {
  font-family: 'Playfair Display', serif;
  font-size: 20px;
  font-weight: 400;
  margin: 10px 0;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.content {
  margin: 20px auto;
  padding: 0 20px;
}
@media(max-width:768px) {
  .top-menu li {
    width: 100%;
    height: auto!important;
  }
  .top-menu > li {border-bottom: 1px solid #e5e5e5;}
  .top-menu > li > a {padding: 18px}
  .submenu,
  .submenu-standart {
    position: relative;
    display: none;
    box-shadow: none;
    padding: 0;
    background: rgba(0,0,0,.02);
  }
  .submenu-standart {padding: 10px 0;}
  .submenu > li {
    border-right: none;
    border-bottom: 1px solid #e5e5e5;
    padding: 18px;
  }
  .submenu h3 {margin: 0 0 10px}
  .submenu .image-header {margin: 10px 0}
  .submenu li:last-of-type {border-bottom: none}
  .top-menu > li:hover .submenu,
  .top-menu > li:hover .submenu-standart {display: block;}
}

.menu{
	list-style:none;
	padding: 0;
	margin: 0;
	width: 75px;
}
.menu a{
	text-decoration:none;
	color:black;
	display:block;
	padding:5px 10px;
}
.menu>li>a{
	border:1px solid #000;
}
.menu>li:hover>a{
	background:red;
}
.menu .active{
	background:green;
}
.pic1{
	position:absolute;
	top:110px;
	width: 20%;
	vertical-align:middle;
	left:300px;
}
.pic2{
	position:absolute;
	top:100px;
	width: 10%;
	vertical-align:middle;
	left:1100px;
}
.pic3{
	position:absolute;
	top:100px;
	width: 10%;
	vertical-align:middle;
	left:950px;
}
.pic4{
	position:absolute;
	top:100px;
	width: 10%;
	vertical-align:middle;
	left:800px;
}
.pic5{
	position:absolute;
	top:100px;
	width: 10%;
	vertical-align:middle;
	left:650px;
}

a{
		color:white;
}
.action-btn {
   position: absolute;
   top:250;
   left:1100;
   display: inline-block;
   padding: 8px 20px;
   margin: 20px;
   text-decoration: none;
   font-family: 'Comfortaa', cursive;
   font-size: 14px;
   text-transform: uppercase;
   font-weight: bold;
   color: #112D52;
   background: #FF5438;
   border: 2px solid #112D52;
   transition: .4s linear;
}
.action-btn:after {
   content: "";
   position: absolute;
   left: 50%;
   top: 50%;
   height: 130%;
   width: 91%;
   border: 2px solid #112D52;
   transform: translate(-50%, -50%);
   z-index: -1;
}
.action-btn:hover {
   background: #112D52;
   color: #FF5438;
}
.action-btn1 {
   position: absolute;
   top:250;
   left:950;
   display: inline-block;
   padding: 8px 20px;
   margin: 20px;
   text-decoration: none;
   font-family: 'Comfortaa', cursive;
   font-size: 14px;
   text-transform: uppercase;
   font-weight: bold;
   color: yellow;
   background: black;
   border: 2px solid #112D52;
   transition: .4s linear;
}
.action-btn1:after {
   content: "";
   position: absolute;
   left: 50%;
   top: 50%;
   height: 130%;
   width: 91%;
   border: 2px solid #112D52;
   transform: translate(-50%, -50%);
   z-index: -1;
}
.action-btn1:hover {
   background: yellow;
   color: red;
}
.action-btn2 {
   position: absolute;
   top:250;
   left:650;
   display: inline-block;
   padding: 8px 20px;
   margin: 20px;
   text-decoration: none;
   font-family: 'Comfortaa', cursive;
   font-size: 14px;
   text-transform: uppercase;
   font-weight: bold;
   color: yellow;
   background: black;
   border: 2px solid #112D52;
   transition: .4s linear;
}
.action-btn2:after {
   content: "";
   position: absolute;
   left: 50%;
   top: 50%;
   height: 130%;
   width: 91%;
   border: 2px solid #112D52;
   transform: translate(-50%, -50%);
   z-index: -1;
}
.action-btn2:hover {
   background: yellow;
   color: red;
}
.action-btn3 {
   position: absolute;
   top:250;
   left:800;
   display: inline-block;
   padding: 8px 20px;
   margin: 20px;
   text-decoration: none;
   font-family: 'Comfortaa', cursive;
   font-size: 14px;
   text-transform: uppercase;
   font-weight: bold;
   color: yellow;
   background: black;
   border: 2px solid #112D52;
   transition: .4s linear;
}
.action-btn3:after {
   content: "";
   position: absolute;
   left: 50%;
   top: 50%;
   height: 130%;
   width: 91%;
   border: 2px solid #112D52;
   transform: translate(-50%, -50%);
   z-index: -1;
}
.action-btn3:hover {
   background: yellow;
   color: red;
}
.action-btn4 {
   position: absolute;
   top:250;
   left:1100;
   display: inline-block;
   padding: 8px 20px;
   margin: 20px;
   text-decoration: none;
   font-family: 'Comfortaa', cursive;
   font-size: 14px;
   text-transform: uppercase;
   font-weight: bold;
   color: yellow;
   background: black;
   border: 2px solid #112D52;
   transition: .4s linear;
}
.action-btn4:after {
   content: "";
   position: absolute;
   left: 50%;
   top: 50%;
   height: 130%;
   width: 91%;
   border: 2px solid #112D52;
   transform: translate(-50%, -50%);
   z-index: -1;
}
.action-btn4:hover {
   background: yellow;
   color: red;
}
.action-btn7 {
   position: absolute;
   top:250;
   left:500;
   display: inline-block;
   padding: 8px 20px;
   margin: 20px;
   text-decoration: none;
   font-family: 'Comfortaa', cursive;
   font-size: 14px;
   text-transform: uppercase;
   font-weight: bold;
   color: yellow;
   background: black;
   border: 2px solid #112D52;
   transition: .4s linear;
}
.action-btn7:after {
   content: "";
   position: absolute;
   left: 50%;
   top: 50%;
   height: 130%;
   width: 91%;
   border: 2px solid #112D52;
   transform: translate(-50%, -50%);
   z-index: -1;
}
.action-btn7:hover {
   background: yellow;
   color: red;
header{
	width:100%;
	height:100px;
	background-color:red;
}
footer{
	position:relative;
	top:800px;
	width:100%;
	height:100px;
	background-color:red;
}
h1{
	position:absolute;
	top:300px;
	left:50px;
}
.f789{
	color:yellow;
	background:black;
	top:500px;
	left:50px;
}
	
.elfsight-app-84a6b341-fa59-4958-984c-e56456de1273{
	top:50px;
	left:500px;
}
.f132{
	background-color:white;
}
form{
	background:white;
	box-sizing: border-box;
	width: 440px;
	padding: 25px;
	border-radius: 30px;
	box-shadow: 0px 2px 10px grey;
	display:inline-block;
	margin-right:100px;
}
.container{
	width: 370px;
	margin: 0 auto;
}
form label{
	display:block;
}
input[type="text"], input[type="tel"] input[type="password"]{
	box-sizing: border-box;
	padding-left: 5px;
	width: 370px;
}
.s label{
	display: inline;
	margin-right: 10px;
}
.submit{
	text-align: center;
}
input[type="submit"]{
	border-radius:10px;
	border:none;
	padding: 5px 10px;
	background:#004D40;
	color:white;
}
input[type="submit"]:hover{
	background:white;
	color:#004D40;
}
input[type="submit"]:active{
	box-shadow: 0px 2px 10px grey;
	outline: none;
}
h2{
	position:relative;
	color:Lightblue;
	text-align: center
}
h2::after{
	content:'';
	display:block;
	height:20px;
	width:100%;
	background:Lightblue;
	position:absolute;
	left:0;
	top: 100%;
	border-radius:30px;
}
.male{
	height:100px;
	width:100px;
}
.female{
	height:100px;
	width:100px;
}
.log in{
	text-align: center;
}